@model IEnumerable<IdentitiyTransferISTA1.Models.Specialisations>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Les Spécialités</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary pull-right ">
        Ajouter une Spécialité .
        <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
    </a><br/><br />
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomSpecialisation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomSpecialisation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-default" }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
